<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <!--   <script src="js/jquery-3.3.1.min.js"></script> -->
 </head>
 <body>
 <div align="center" id="indexdo">
     <div><h1>欢迎登录</h1></div><br>
   <form action="indexdo" method="post">
       <h3><div>
                账号：<input id="username" name="username" type="text" >
       </div></h3>
        <div ><h3>
            密码：<input id="userpsw" name="userpsw" type="password" ></h3>
        </div>
        <div >
            <input type="submit" value="登录" ></div>
        <div ><h4>
            <a href="zhucedo" style="text-decoration: none;color:gray"><font size="1">没有账号？免费注册</font></a>
        </h4></div>
       </form>

  </div>
 <!--  <script src="js/denglu.js"></script> <!--引入动态加载文件--> -->
  </body>
  </html>