<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-3.3.1.min.js"></script>
</head>
<body>
<div align="center">

        <div align="center" id="update">
          <input id="stuid" type="hidden" > <br>
            姓名：<input id="stuname" type="text"><br>
            年龄：<input id="stuage" type="text" ><br>
            性别：<input id="stusex" type="text" ><br>
        </div>
        <div align="center"><input type="button" value="提交" onclick="updata();"></div>

    <script src="js/updata.js"></script> <!--引入动态加载文件-->
</div>
</body>
</html>